* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

header {
  background-color: #f8f8f8;
  display: flex;
  align-items: center; /* Alinea verticalmente */
  width: 80.6rem;
  font-size: 16px;
}

.logo img {
  max-width: 9rem; /* El logo no será más ancho que 100px */
  height: auto; /* Mantiene la proporción */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
  background-color: #fcfcfcd8;
  max-height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  position: relative;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
}

nav ul li a {
  display: block;

  text-decoration: none;
  padding: 18px 15px; /* Reducimos el padding */
  color: #030303;
  border-radius: 10px;
  transition: background-color 0.3s;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 10px;
  border: 4px solid #11c756;
  font-size: 16px;
  width: 170px;
  background-color: rgb(172, 179, 176);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
  padding: 20px;
}
.property-card {
  background: white;
  width: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.property-info {
  padding: 15px;
}
.property-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.property-location {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}
.property-details {
  display: flex;
  font-size: 14px;
  color: #444;
  gap: 10px;
}

.container1 {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
}
